HOST=0.0.0.0
PORT=3001

DB_HOST_CLI=localhost
DB_PORT_CLI=5433

DB_HOST=postgresql-db
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=entropy_db

# Could be DEV, PROD, TEST
ENVIRONMENT=DEV

JWT_SECRET=jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRES_IN=12h
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

SEQ_HOST=localhost
SEQ_PORT=5341
SEQ_API_KEY=seq_api_key
