HOST=0.0.0.0
PORT=3001

DB_HOST_CLI=localhost
DB_PORT_CLI=5433

DB_HOST=postgresql-db
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=entropy_users_db

# Could be DEV, PROD, TEST
ENVIRONMENT=DEV